# Server
fastapi==0.71.0
gunicorn~=20.1.0
uvicorn[standard]~=0.16.0

# Database
sqlalchemy~=1.4.29
psycopg2~=2.9.3
alembic~=1.7.5

# Productivity
psutil~=5.9.0
python-dotenv~=0.19.2
pyyaml~=6.0
pylast~=4.4.0